.slide img {
    width:20rem ;
    margin: 0 auto ;
}

.slide{
    transform: scale(0.4) ;
    transition: transform 300ms ;
    opacity:0.5 ;
}

.activeSlide{
    transform: scale(1.1) ;
    opacity: 1 ;
}

.arrow {
    position:absolute;
    top:50%;
    z-index: 10;
}

.prev {
    left:-15% ;
}

.next{
    right:-15% ;
}
